.character-container
    display: flex
    justify-content: center  
    
.character-list
    display: grid
    grid-template-columns: repeat(4, 1fr) 
    gap: 16px 
    max-width: 1200px 
    width: 100%
  

