.header
  margin: 5rem 5rem 1rem

  .logo
    .brand
      color: #D46781
      font-size: 5rem

    .ifi
      color: #fff
      font-size: 5rem


.barre
  display: flex
  justify-content: space-between
